body {
  font-family: "Roboto", sans-serif;

  background-image: linear-gradient(
    to bottom,
    var(--bz-app-header) 0,
    var(--bz-app-header) 140px,
    var(--bz-app-principal) 140px,
    var(--bz-app-principal) 100%
  );
  overflow: hidden;
}
/* colors */
:root {
  --bz-app-principal: #dbdbd2;
  --bz-app-header: #009688;
  --bz-app-success: #d5f9ba;
  --bz-app-light: #e9ebeb;
  --bz-app-white: #ffffff;
  --bz-app-focus: #8edafc;
  --bz--app-icon: #808080;
}

.bg_top {
  background-color: var(--bz-app-header);
  padding: 100px;
}
.bg_principal {
  background-color: var(--bz-app-light);
}
.bg_notice {
  background-color: var(--bz-app-focus);
}
.bg_white {
  background-color: var(--bz-app-white);
}
.text_icon {
  color: var(--bz--app-icon);
}
.bg_img {
  background-image: url(/asset/img/mine.jpg);
  width: 100%;
}

/* circol */
.circol_icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.circol {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* dimensions */
.width_message {
  width: 50%;
}
.height {
  height: calc(100% - 90px);
}
.height_box {
  max-width: 1200px;
  margin: 2rem auto;
}
.height_message {
  height: calc(100% - 130px);
}
.height_chat {
  height: calc(100% - 173px);
  overflow: auto;
}
#app {
  height: 100vh;
}
.fs_small {
  font-size: 14px;
}
.active {
  background-color: lightgray;
}
/* classe dei messaggi */
.message-received {
  display: flex;
  justify-content: flex-start;
}
.message-received > div {
  background-color: var(--bz-app-white);
}
.message-sent {
  display: flex;
  justify-content: end;
}
.message-sent > div {
  background-color: var(--bz-app-success);
}
